# GitHub Personal Access Token with repo and read:user scope
# Get it from: https://github.com/settings/tokens
GITHUB_TOKEN=

# Your domain (for the card generation)
# e.g., https://gitwrapped.vercel.app
NEXT_PUBLIC_DOMAIN=http://localhost:3000

# Optional: Upstash Redis for caching
# Get it from: https://upstash.com
KV_REST_API_URL=
KV_REST_API_TOKEN=
